/* <PC high resolution */
@media (max-width: 77.4375em){ /* 1239px = 77.4375em*/
    .header1, 
    .navbar .nav,
    .navbar .btn-book{
        display: none;
    }

    .navbar a{
        margin: 0 auto;
    }

    .menu__mobile-icon{
        display: block;
    }
    
}

/* PC low resolution */
@media (min-width: 64em) and (max-width: 77.4375em){ /* 1024px = 64em*/ /* 1239px = 77.4375em*/

}

/* Mobile & Tablet */
@media (max-width: 63.9375em){ /*1023px = 63.9375em*/
    .search .input-search{
        margin-top: 12px;
    }

    .info-tour{
        display: none;
    }

    .package_item.row{
        flex-direction: column;
    }

    .package__info-cost{
        display: none;
    }

    .package__cost-mobile{
        display: inline-block;
    }

    .contact-type + .contact-type{
        margin-top: 32px;
    }

    
}

/*Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){ /*740px = 46.25em*/  /*1023px = 63.9375em*/
    .empty{
        height: 160px;
        display: block;
    }

    .summer-promotion{
        padding: 40%;
    }

    .number-history{
        padding: 30%;
    }
    

}

/* Mobile*/
@media (max-width: 46.1875em){ /*739px = 46.1875em*/
    .number-history{
        left: 0;
    transform: translate3d(0px, 0px, 0px) scale(1, 1); 
    }

    .search{
        position: absolute;
        top: calc(100% + 70px);
    }

    .empty{
        height: 310px;
        display: block;
    }
    .search form::before{
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .summer-promotion{
        padding: 50%;
    }
    
    .summer-promotion-btn{
        margin-top: 0;
    }

    .number-history{
        padding: 30%;
    }

    .footer{
        font-size: 14px;
        letter-spacing: 0;
    }

    .number-history-item .number{
        font-size: 28px;
    }

    .number-history-item .title{
        font-size: 10px;
        padding: 8px;
    }
}